<ul class="contact-info list-unstyled">
    <li><i class="fa fa-map-marker" aria-hidden="true"></i> 45/ 1 Real street bigboss hourse ustrib, Pultine, Austria.</li>
    <li><i class="fa fa-phone" aria-hidden="true"></i> <span>Phone no:</span> ++854798754</li>
    <li><i class="fa fa-envelope" aria-hidden="true"></i> <span>Email us:</span> example@doem.com</li>
    <li><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Office hour:</span> (9AM - 5PM) Sunday Colosed</li>
</ul>

<style>
	.contact-info li {
	    position: relative;
	    padding-left: 30px;
	    font-size: 16px;
	}
	.contact-info li i {
	    font-size: 18px;
	    color: #73b21a;
	    position: absolute;
	    left: 0;
	    top: 1px;
	}
</style>