<nav aria-label="Page navigation">
	<ul class="pagination pa-default">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li>
			<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>

<style>
	.pa-default > li > a, .pa-default > li > span{color: #000;}
	.pa-default > .active > a, .pa-default > .active > span, .pa-default > .active > a:hover, .pa-default > .active > span:hover, .pa-default > .active > a:focus, .pa-default > .active > span:focus{
		    background-color: #ff490d;
		    border-color: #ff490d;color: #fff;
	}

	.pa-default > li > a:hover, .pa-default > li > span:hover, .pa-default > li > a:focus, .pa-default > li > span:focus{
		background-color: #ff490d;
		    border-color: #ff490d;color: #fff;
	}
</style>