<div class="col-lg-4 set-d-left">
    <div class="sidebar-left" id="sticker">
        <!-- EXCHANGE BOX START -->
        {FILE "./template/includes/exchange-box.html"}
        <!-- EXCHANGE BOX STOP -->
        <div class="box-default-15">
            {FILE "./template/includes/setting-support.html"}
        </div>
    </div>
</div>
<div class="col-lg-8 warpper-default set-d-right ">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="box-content-list">
                <div class="title">Setting your account</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <!-- 1 -->
            <div class="box-default-30 bg-white">
                <div class="box-border-table">
                    <div class="box-pdd-10">
                        <div class="title-icon title-orange">
                            <h3>
                                CHANGE PASSWORD
                            </h3>
                        </div>
                        <div id="change-passwork">
                            <form action="" class="form-horizontal form-basic">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box-control">
                                            <label for="">Old password:</label>
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box-control">
                                            <label for="">New password:</label>
                                            <input type="password" class="form-control" placeholder="">
                                        </div>                                        
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box-control">
                                            <label for="">Repeat password:</label>
                                            <input type="password" class="form-control" placeholder="">
                                        </div>                                          
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="box-control btn-right text-right">
                                            <button type="" class="btn-radius btn-blue">SAVE</button>
                                        </div>
                                    </div>
                                </div>                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <!-- 1 -->
            <div class="box-default-30 bg-white">
                <div class="box-border-table ">
                    <div class="box-pdd-10">
                        <div class="title-icon title-orange">
                            <h3>
                                CHANGE EMAIL
                            </h3>
                        </div>
                        <div id="change-passwork">
                            <form action="" class="form-horizontal form-basic">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box-control">
                                            <label for="">Old Email:</label>
                                            <input type="email" class="form-control" placeholder="">
                                        </div>                                        
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box-control">
                                            <label for="">New Email:</label>
                                            <input type="email" class="form-control" placeholder="">
                                        </div>                                          
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="box-control">
                                            <label for="">Confirm password:</label>
                                            <input type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="box-control btn-right text-right">
                                            <button type="" class="btn-radius btn-blue">SAVE</button>
                                        </div>
                                    </div>
                                </div>                             
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        