<div class="col-lg-4 set-d-left">
    <div class="sidebar-left" id="sticker">
        <!-- EXCHANGE BOX START -->
        {FILE "./template/includes/exchange-box.html"}
        <!-- EXCHANGE BOX STOP -->
        <div class="box-default-15">
            {FILE "./template/includes/table.html"}
        </div>
    </div>
</div>
<div class="col-lg-8 warpper-default set-d-right ">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="box-content-list">
                <div class="title">Support <span>(problems will be closed automatically in 4 days if there has no any reply)</span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <!-- 1 -->
            <div class="box-default-30 bg-white">
                <div class="box-border-table">
                    <div class="box-pdd-10">
                        <div class="comment-box">
                            <div class="comment-subject">
                                <span class="label-custom label-green-bold label-border">ON GOING</span>
                                <strong>SUBJECT: </strong>
                                Where is my AIC coins?
                            </div>
                            <div class="comment-wrapper">
                                <div class="single-comment">
                                    <img src="images/icon/6.png" alt="" class="avatar">
                                    <div class="comment">
                                        <h6>chuowng.vox:</h6>
                                    </div>
                                    <div>
                                        What the heck is going on, where  the heck is my AIC?
                                        <br>
                                        <i>on Transaction ID:  <strong>30127253862</strong></i>
                                        <br>
                                        <i><strong>created: 01.11.2017 9:32 PM</strong></i>
                                        <br>
                                        Problem section: Can’t send coin?
                                    </div>
                                </div>
                                <div class="single-comment reply-comment">
                                    <img src="images/icon/7.png" alt="Image" class="avatar">
                                    <div class="comment ">
                                        <h6>Admin_1:</h6>
                                        <div>
                                            Sorry, maybe you added wrong BTC Address while trading, so your AIC coins
                                            won’t be refunded, read our policy clearly, so sorry about that.
                                            <br>
                                            <i>01.11.2017 9:52 PM</i>
                                        </div>
                                        <div class="check-comment">
                                            <ul class="list-inline">
                                                <li>
                                                    <a href=""><img src="images/icon/8.png" alt=""> Acceptable answer</a>
                                                </li>
                                                <li>
                                                    <a href=""><img src="images/icon/9.png" alt=""> Unacceptable answer</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment reply-comment">
                                    <img src="images/icon/6.png" alt="Image" class="avatar">
                                    <div class="comment ">
                                        <h6>chuowng.vox:</h6>
                                        <div>
                                            ok, thanks for supporting!
                                            <br>
                                            <i>01.11.2017 9:52 PM</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-pdd-10">
                            <form action="" class="form-horizontal form-basic">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="box-control">
                                            <label for="">YOUR PROBLEM:</label>
                                            <textarea name="" id="" style="height: 49px; background: #f4f7f9" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="box-control btn-right text-right">
                                            <button type="" class="btn-custom-sm btn-green-bold btn-radius">REPLY</button>
                                        </div>
                                    </div>
                                </div>   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="box-default-30 bg-white">
                <div class="box-border-table">
                    <div class="comment-box">
                        <div class="box-pdd-10">
                            <div class="comment-subject">
                                <span class="label-custom label-green-bold label-border" style="opacity: 0;">Notification</span>
                                <strong>SUBJECT: </strong>
                                Where is my AIC coins?
                            </div>
                            <div class="comment-wrapper">
                                <div class="single-comment">
                                    <img src="images/icon/6.png" alt="" class="avatar">
                                    <div class="comment">
                                        <h6>chuowng.vox:</h6>
                                    </div>
                                    <div>
                                        What the heck is going on, where  the heck is my AIC?
                                        <br>
                                        <i>on Transaction ID:  <strong>30127253862</strong></i>
                                        <br>
                                        <i><strong>created: 01.11.2017 9:32 PM</strong></i>
                                        <br>
                                        Problem section: Can’t send coin?
                                    </div>
                                </div>
                                <div class="single-comment reply-comment">
                                    <img src="images/icon/7.png" alt="Image" class="avatar">
                                    <div class="comment ">
                                        <h6>Admin_1:</h6>
                                        <div>
                                            Sorry, maybe you added wrong BTC Address while trading, so your AIC coins
                                            won’t be refunded, read our policy clearly, so sorry about that.
                                            <br>
                                            <i>01.11.2017 9:52 PM</i>
                                        </div>
                                        <div class="check-comment">
                                            <ul class="list-inline">
                                                <li>
                                                    <a href=""><img src="images/icon/8.png" alt=""> Acceptable answer</a>
                                                </li>
                                                <li>
                                                    <a href=""><img src="images/icon/9.png" alt=""> Unacceptable answer</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment reply-comment">
                                    <img src="images/icon/6.png" alt="Image" class="avatar">
                                    <div class="comment ">
                                        <h6>chuowng.vox:</h6>
                                        <div>
                                            ok, thanks for supporting!
                                            <br>
                                            <i>01.11.2017 9:52 PM</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-pos-verification">
                            <div class="pos-center-middle">
                                <div class="noti-red text-center">
                                    <div class="title">
                                        THIS PROBLEM IS <br>
                                        SOLVED
                                    </div>
                                    <a href="">click to view your problem</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="box-default-30 bg-white">
                <div class="box-border-table">
                    <div class="comment-box">
                        <div class="box-pdd-10">
                            <div class="comment-subject">
                                <span class="label-custom label-green-bold label-border" style="opacity: 0;">Notification</span>
                                <strong>SUBJECT: </strong>
                                Where is my AIC coins?
                            </div>
                            <div class="comment-wrapper">
                                <div class="single-comment">
                                    <img src="images/icon/6.png" alt="" class="avatar">
                                    <div class="comment">
                                        <h6>chuowng.vox:</h6>
                                    </div>
                                    <div>
                                        What the heck is going on, where  the heck is my AIC?
                                        <br>
                                        <i>on Transaction ID:  <strong>30127253862</strong></i>
                                        <br>
                                        <i><strong>created: 01.11.2017 9:32 PM</strong></i>
                                        <br>
                                        Problem section: Can’t send coin?
                                    </div>
                                </div>
                                <div class="single-comment reply-comment">
                                    <img src="images/icon/7.png" alt="Image" class="avatar">
                                    <div class="comment ">
                                        <h6>Admin_1:</h6>
                                        <div>
                                            Sorry, maybe you added wrong BTC Address while trading, so your AIC coins
                                            won’t be refunded, read our policy clearly, so sorry about that.
                                            <br>
                                            <i>01.11.2017 9:52 PM</i>
                                        </div>
                                        <div class="check-comment">
                                            <ul class="list-inline">
                                                <li>
                                                    <a href=""><img src="images/icon/8.png" alt=""> Acceptable answer</a>
                                                </li>
                                                <li>
                                                    <a href=""><img src="images/icon/9.png" alt=""> Unacceptable answer</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-comment reply-comment">
                                    <img src="images/icon/6.png" alt="Image" class="avatar">
                                    <div class="comment ">
                                        <h6>chuowng.vox:</h6>
                                        <div>
                                            ok, thanks for supporting!
                                            <br>
                                            <i>01.11.2017 9:52 PM</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-pos-verification">
                            <div class="pos-center-middle">
                                <div class="noti-red text-center">
                                    <div class="title" style="padding-top: 15px;">
                                        SOLVED
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <!-- 1 -->
            <div class="box-default-30">
                <div id="">
                    <form action="" class="form-horizontal form-basic">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="box-control">
                                    <label for="">NEW SUPPORT PROBLEM</label>
                                    <input type="email" class="form-control" placeholder="My transaction can not confirm?">
                                </div>                                        
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="box-control">
                                    <label for="">SUBJECT:</label>
                                    <input type="email" class="form-control" placeholder="">
                                </div>                                          
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="box-control">
                                    <label for="">YOUR TRANSACTION ID:</label>
                                    <input type="password" class="form-control" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box-control">
                                    <label for="">YOUR PROBLEM:</label>
                                    <textarea name="" id="" style="height: 274px;" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="box-control btn-right text-right">
                                    <button type="" class="btn-custom-sm btn-black">SUBMIT</button>
                                </div>
                            </div>
                        </div>                             
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
            