<div id="m_aside_left" class="m-grid__item  m-aside-left  m-aside-left--skin-dark ">
    <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
        <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
            <li class="m-menu__item  m-menu__item--active">
                <a href="#" class="m-menu__link "><i class="m-menu__link-icon flaticon-line-graph"></i>
                    <span class="m-menu__link-title">  
                        <span class="m-menu__link-wrap">      
                            <span class="m-menu__link-text">Dashboard</span>      
                        </span>
                    </span>
                </a>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">Components</h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"><a href="#" class="m-menu__link m-menu__toggle"><i class="m-menu__link-icon flaticon-signs-2"></i><span class="m-menu__link-text">Utils</span><i class="m-menu__ver-arrow la la-angle-right"></i></a>
                <div class="m-menu__submenu"><span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item  m-menu__item--parent"><a href="#" class="m-menu__link "><span class="m-menu__link-text">Utils</span></a>
                        </li>
                        <li class="m-menu__item "><a href="#" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Session Timeout</span></a>
                        </li>
                        <li class="m-menu__item "><a href="#" class="m-menu__link "><i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span class="m-menu__link-text">Idle Timer</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__section">
                <h4 class="m-menu__section-text">Support</h4>
                <i class="m-menu__section-icon flaticon-more-v3"></i>
            </li>
            <li class="m-menu__item ">
                <a href="#" class="m-menu__link ">
                    <span class="m-menu__link-icon boxicon">
                        <img src="images/icon/menu/account-1.svg" alt="" class="icon1">
                        <img src="images/icon/menu/account-2.svg" alt="" class="icon2hover">
                    </span>
                    <span class="m-menu__link-text">Layout Builder</span>
                </a>
            </li>
        </ul>
    </div>
</div>